@font-face {
  font-weight: 400;
  font-family: "DMSans";
  font-style: normal;
  src: url(../fonts/DMSans-Regular.woff2), url(../fonts/DMSans-Regular.woff);
  font-display: swap;
}

@font-face {
  font-weight: 700;
  font-family: "DMSans";
  font-style: normal;
  src: url(../fonts/DMSans-Bold.woff2), url(../fonts/DMSans-Bold.woff);
  font-display: swap;
}

@font-face {
  font-weight: 400;
  font-family: "Rubik";
  font-style: normal;
  src: url(../fonts/Rubik-Regular.woff2), url(../fonts/Rubik-Regular.woff);
  font-display: swap;
}

@font-face {
  font-weight: 500;
  font-family: "Rubik";
  font-style: normal;
  src: url(../fonts/Rubik-Medium.woff2), url(../fonts/Rubik-Medium.woff);
  font-display: swap;
}

@font-face {
  font-weight: 700;
  font-family: "Rubik";
  font-style: normal;
  src: url(../fonts/Rubik-Bold.woff2), url(../fonts/Rubik-Bold.woff);
  font-display: swap;
}
