$black: #fff;
$white: #000;
$primary: #000;
$secondary: #000;
$media1366: 1366;
$media1024: 1024;
$media769: 769;
$media576: 576;

@mixin media($width) {
  @media only screen and (max-width: $width + "px") {
    @content;
  }
}

@mixin dmsans($weight) {
  font-weight: $weight;
  font-family: "DMSans", sans-serif;
}

@mixin rubic($weight) {
  font-weight: $weight;
  font-family: "Rubik", sans-serif;
}

@mixin line-clamp($num) {
  display: -webkit-box;
  display: box;
  overflow: hidden;
  text-overflow: ellipsis;
  word-wrap: break-word;
  -webkit-box-orient: vertical;
  // box-orient: vertical;
  -ms-line-clamp: $num;
  -webkit-line-clamp: $num;
  line-clamp: $num;
}
