{
  "parser": "@babel/eslint-parser",
  "extends": ["airbnb-base", "prettier"],
  "env": {
    "browser": true
  },
  "rules": {
    "import/no-extraneous-dependencies": [
      "error",
      { "devDependencies": ["gulpfile.babel.js", "./gulp/**/*.js"] }
    ]
  }
}
